<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="icon" type="imagenes/png" href="../Styles/Img/Yellow.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/Css/Style.css">
</head>
<body style="background-color:rgb(25, 93, 102)">
    <header class="header-Moment">
		<nav>
            <ul class="develop">
                <li><a href="../Views/Page-One.html" class="ul-style">Home</a></li>
                <li><a href="../Views/Page-Two.html" class="ul-style">Link1</a></li>
                <li><a href="../Views/Page-Three.html" class="ul-style">Link2</a></li>
            </ul>		
		</nav>
	</header>

	<div class="title-H">
		<h3>Welcome</h3>
	</div>

	<main class="text-moment">
		<div class="Img-Left">
			<img src="../Styles/Img/Image-Prod2.jpg">
		</div>
		<div class="Txt-right">
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, rem odit. Veritatis excepturi odio
				praesentium soluta, pariatur sunt iusto omnis doloremque, distinctio debitis eligendi reiciendis
				deleniti aperiam ea et placeat.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit dolorem necessitatibus dolores ducimus
				dolorum recusandae, assumenda quis iure fugiat tenetur adipisci aspernatur sit neque veritatis. Atque
				doloribus praesentium ipsum ratione?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem suscipit delectus porro sed commodi ab
				sapiente impedit, sequi debitis voluptatem adipisci? Consequuntur eligendi sed commodi impedit obcaecati
				tempore, placeat amet.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur sunt, dolor recusandae facilis
				molestiae eaque earum. Laborum, distinctio omnis. Autem harum tenetur distinctio debitis excepturi rerum
				corrupti amet cumque sed.</p>
		</div>
	</main>
	<br>

	<footer class="footer">
		<div class="Contain-Ico">
			<img src="../Styles/Img/LogoSena.png" width="10px" height="10%"class="Icon">
		</div>
		<div class="Contain-Txt">
			<p class="Name">Sofía Calderón Alegre</p>
			<p class="Email">dcalderonalegre@gmail.com</p>
		</div>
	</footer>
</body>
</html>