<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Second</title>
    <link rel="icon" type="imagenes/png" href="../Styles/Img/Red.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/Css/Style.css">
</head>
<body style="background-color:rgb(25, 93, 102)">
    <header class="header-Moment">
		<nav>
            <ul class="develop">
                <li><a href="../Views/Page-One.html" class="ul-style">Home</a></li>
                <li><a href="../Views/Page-Two.html" class="ul-style">Link1</a></li>
                <li><a href="../Views/Page-Three.html" class="ul-style">Link2</a></li>
            </ul>		
		</nav>
	</header>

	<div class="title-H">
		<h3>Title Link 2</h3>
	</div>
    
    <main class="text-moment">
		<div class="Txt-center3">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur ratione cum ut ipsa voluptas magnam assumenda suscipit provident vero distinctio nobis debitis, obcaecati maiores nostrum corporis, veritatis possimus eos laborum!
            </p> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus nulla eaque dolorem quis porro qui eos reiciendis quod nisi doloribus cupiditate odio, dolores quas architecto blanditiis voluptatem nobis dicta. Veritatis!
            </p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, at exercitationem fugit est voluptatem vel enim veniam perspiciatis ullam corporis quam esse. Sunt veritatis cupiditate commodi perferendis, odio porro amet!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, quibusdam? Veritatis voluptas blanditiis quia delectus obcaecati, mollitia corporis aperiam molestias necessitatibus voluptatem voluptate facere ipsum perferendis doloremque quis? Officiis, quo?
            </p>
        </div>
	</main>
	<br>
	<footer class="footer">
		<div class="Contain-Ico">
			<img src="../Styles/Img/LogoSena.png" width="10px" height="10%"class="Icon">
		</div>
		<div class="Contain-Txt">
			<p class="Name">Sofía Calderón Alegre</p>
			<p class="Email">dcalderonalegre@gmail.com</p>
		</div>
	</footer>
</body>
</html>