<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P8</title>
    <link rel="stylesheet" href="../Styles/Upload.css">
</head>
<body style="background-color:rgb(201, 201, 201)">

    <div class="title-js">
        <h1 id="JavaScriptText">Taller JavaScript</h1>
    </div>

    <nav class="Principal-menu">
        <ul>
          <li><a href="../Views/Upload.html">Home</a></li>
          <li><a href="../Views/Page1.html">Par o Impar</a></li>
          <li><a href="../Views/Page2.html">Tabla Multiplicar 1</a></li>
          <li><a href="../Views/Page3.html">Tabla Multiplicar 2</a></li>
          <li><a href="../Views/Page4.html">Primo si o no?</a></li>
          <li><a href="../Views/Page5.html">Orden Ascendente</a></li>
          <li><a href="../Views/Page6.html">El nombre existe o no?</a></li>
          <li><a href="../Views/Page7.html">Nombres mayor y menor</a></li>
          <li><a href="../Views/Page8.html">Palindromo?</a></li>
          <li><a href="../Views/Page9.html">Fibonacci</a></li>
          <li><a href="../Views/Page10.html">Parafiscales</a></li>
        </ul>
      </nav>
      <form class="container">
        <div class="Grade-Title">
          <h3 id="title">Palindromo?</h3><br>
        </div>
        <div class="contenido-face">
          <label id="labelUno" for="Name">Ingrese Nombre : </label>
          <input class="ochoT" id="8Text" type="text" placeholder="Ingrese una palabra">

        <div class="button">
        <input id="btnUno" type="button" onclick="comprobar()" >
        </div>

        <p id="count"></p>
    </form>
    <script src="../Functions/Page8.js"></script>
</body>
</html>